.display-card {
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #000;
    padding: 1em 2em;
    margin-bottom: 1em;

    h3 {
        font-size: 20px;
    }
    p {
        font-size: 14px;
    }
}
